:root {
  --gold: #EFC69B;
  --red: #AF1B3F;
  --dark: #473144;

  --body-font: Helvetica, Arial, sans-serif;
  --headline-font: 'Lora', Impact, serif;
}


body{
    margin: 0 auto;
}

header{
    align-items: center;
    justify-content: center;
}

header h1{
    font-size: 40px;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

header nav{
    border-top: 2px solid var(--gold);
}

.main-nav {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: end;
    justify-items: end;
    border-bottom: 2px solid var(--gold);
    padding-bottom: 13px;
    padding-right: 5%;
    
}
.main-nav li {
    list-style: none;
}

.main-nav li a{
    text-decoration: none;
    color: var(--red);
    font-size: 20px;
    font-family: var(--body-font);
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#review {
    justify-self: end;
    padding-right: 40px;
    margin-right: 40px;
    border-right: 2px solid var(--gold);
    text-decoration: none;
    list-style: none;
    line-height: .5em;
    text-align: right;
}

#review h3 {
    text-decoration: none;
    font-weight: normal;
}

#article_details{
    grid-column: 2; 
}

#img-container{
    text-align: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    }

#img-container img{
    max-width: 50%;
    height: auto;
    border-radius: 10px;
}


#article_details h2{
    font-family: var(--body-font);
    color: var(--red);
}

#filter {
    border: 2px solid var(--gold);
    margin: 40px;
    max-width: 250px;
    justify-content: center;
    text-align: center;
    max-height: 300px;
}

#filter-form{
    justify-content: start;
    text-align: left;
    padding-left: 15px;
    padding-top: 20px;
}

.article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 15px;
}

