body {
    margin-top: 50px;
}

main {
    border : 1px solid black;
    justify-content: center;
    text-align: center;
    margin: 0 auto;;
    padding-left: 7%;
    padding-right: 7%;
    max-width: 600px;
    height: auto;
    font-size: 20px;
    font-family: 'Times New Roman';
}

h1{
    margin-top: 75px;
    font-size: 38px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: normal;

}


h2 {
    color: #006EB6;
    font-size: 15px;
    margin-bottom: -10px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: normal;
}

#divider {
    border:none;
    background-color: #ccc;
    height: 1px;
}


ol li {
    margin-bottom: 15px;
}

#text-section {
    margin-top: 45px;
    text-align: left;
    line-height: 1.5;
}

#reference_mission_statement {
    justify-content: center;
    text-align: center;
}

#byui-logo {
    width: 25%;
    height: auto;
    margin: 0 auto;
    margin: 40px;
}

.dark {
    background-color: #333;
    color: white;
}

.dark h2 {
    color: rgb(160, 212, 237);
}